@media screen and (min-width: 641px) {

    h2 {
        font-size: 29px;
    }

    #ham-menu {
        display: none;
    }

    header {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .navigation {
        max-width: 800px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    
    .wrap {
        flex-wrap: wrap;
    }
    
    .navigation a {
        display: block;
        text-align: center;
        padding: 1rem;
        text-decoration: none;
    }
    
    .navigation a:hover {
        border: 1px solid steelblue;
        color: rgb(238, 117, 117);
    }
}


/* large view navigation ************************************/
@media only screen and (min-width: 641px) {
    main { display: grid;
    }
   
  
  #menu {
    display: none; /* hide hamburger button */
  }
  
  .navigation {
    flex-direction: row;
  }
  
  .navigation li {
    display: block;
    flex: 1 1 100%;
  }
  
  .stuff {
    margin: 1rem auto;
  }
  }

  
  
    