@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-style: normal;
}

header, body, 
footer {
    margin: 0 auto;
    border: 1px solid rgb(8, 8, 8);
    max-width: 1320px;
}

header {
    background-color: rgb(68, 65, 231);
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
}

h1 {
    font-size: 2rem;
    margin-left: 1rem;
    font-size: 1.5rem;
    color: yellow;
}

.navigation {
    display: flex;
    flex-direction: row; /* Ensure horizontal layout for large screens */
    list-style: none;
    align-items: center;
}

.navigation li {
    margin-right: 20px; /* Add spacing between navigation items */
}

.navigation a {
    display: none;
    padding: 0.75rem;
    text-decoration: none;
    text-align: center;
    color: rgb(249, 248, 242);
}

.navigation a:hover {
    font-weight: 700;
    text-decoration: underline;
}


.open .navigation a {
    display: block;
}



#ham-menu {
    font-size: 1.5rem;
    border:0;
    background: none;
    color: white;
    position: absolute;
    top: 1rem;
    right: 1rem;
    content: "☰";
}

#ham-menu::before {
    content: "☰";
}

#ham-menu.open::before {
    content: "❌";
}

/* CSS for small screens */
@media only screen and (max-width: 600px) {
    .navigation {
        display: none; /* Hide navigation links by default on small screens */
    }

    #ham-menu {
        display: block; /* Show hamburger menu button on small screens */
    }
}

/* Display navigation links when menu is open */
.open .navigation {
    display: flex; /* Make navigation links visible when menu is open */
}


/*Food pictures*/
main {
    max-width: 1220px;
    margin: 10px;
    padding: 2px;
}

h2 {
    text-align: center;
    font-size: 1rem;
}

.haitian-food {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

figure {
    display: flex;
    
    border: 1px solid #cccccc;
    padding: 4px;
    margin: auto;
    
}

figure p {
    display: block;
    text-align: left;
}

figure img {
    width: 400px;
    height: 300px;
    object-fit: cover;
    object-position: center;
}



footer {
    background-color:  rgb(68, 65, 231);
    color: #fff;
    padding: 20px;
    text-align: center;
}



@media only screen and (max-width: 600px) {
		
    .about-food {
        margin: 0px;
        padding: 10px;
    }
}


div{
        
    display: block;
    unicode-bidi: isolate;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
} 

.about-food {float: left;
			
    padding: 10px;

  
margin-right: 100px;

padding-top: 20px;
padding-right: 18px;
padding-bottom: 20px;
padding-left: 18px;
}



a {
    
    cursor: pointer;
    text-decoration: underline;
    
    }


    #scenarios {
        margin-top: 20px;
        color: dodgerblue;
    }
    
    #scenarios h2 {
        color: #f44040;
        font-size: 1.5rem;
        margin-bottom: 10px;
    }
    
    #scenarios p {
        font-size: 1rem;
        line-height: 1.4;
        color: #666;
    }
    
    #scenarios ul {
        list-style-type: decimal; /* Use decimal numbering for the list items */
        padding-left: 20px;
    }
    