





/* large view navigation ************************************/
@media only screen and (min-width: 641px) {
  main { display: grid;
  grid-template-columns: 2fr 1fr;}
  main h2 {grid-column: 1 / span 2;}

#menu {
  display: none; /* hide hamburger button */
}

.navigation {
  flex-direction: row;
}

.navigation li {
  display: block;
  flex: 1 1 100%;
}

.stuff {
  margin: 1rem auto;
}
}

  









  @media screen and (min-width: 641px) {
    header {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}





@media screen and (min-width: 641px) {
    .navigation {
        max-width: 800px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
       
        text-align: center;
        padding: 1rem;
        text-decoration: none;
    }
}




/* large view navigation ************************************/
@media only screen and (min-width: 641px) {
    
	

	#menu {
		display: none; /* hide hamburger button */
	}

	.navigation {
		flex-direction: row;
	}

	.navigation li {
		display: block;
		flex: 1 1 100%;
	}
	
	.stuff {
		margin: 1rem auto;
	}
}

